<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.revision_app_two">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RemoveNote" android:parentActivityName=".ViewNotes">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.revision_app_two.ViewNotes" />
        </activity>
        <activity android:name=".RemoveTopic" android:parentActivityName=".ViewTopics">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.revision_app_two.ViewTopics" />
        </activity>
        <activity android:name=".RemoveModule" android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.revision_app_two.MainActivity" />
        </activity>
        <activity android:name=".RemoveData" />
        <activity
            android:name=".ViewNotes"
            android:parentActivityName=".ViewTopics">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.revision_app_two.MainActivity" />
        </activity>
        <activity
            android:name=".ViewTopics"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.revision_app_two.MainActivity" />
        </activity>
        <activity android:name=".AddSubject" />
        <activity
            android:name=".AddModule"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.revision_app_two.MainActivity" />
        </activity>
        <activity
            android:name=".AddTopic"
            android:parentActivityName=".ViewTopics">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.revision_app_two.ViewTopics" />
        </activity>
        <activity android:name=".AddNote" android:parentActivityName=".ViewNotes">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.revision_app_two.ViewNotes" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".NotesProvider"
            android:authorities="com.example.revision-app-two.NotesProvider" />
    </application>

</manifest>